{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Editando "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group mt-4">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Post title"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group mt-4">
        <label for="content">Contenido</label>
        <textarea name="content" placeholder="Post content" rows="23"
                  class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
</form>

{% endblock %}